<table id='daily'>
  <col id='number' />
  <col id='name' />
  <col id='location' />
  <col id='engineer' />
  <col id='technician' />
  <col id='meeting' />
  <col id='task' />
  <col id='task_due' />
  <col id='proj_due' />
  <tr>
    <th>Project Number</th>
    <th>Project Name</th>
    <th>Project Location</th>
    <th>Project Engineer</th>
    <th>Engineering Technicians</th>
    <th>Project Design Meeting</th>
    <th>Tasks</th>
    <th>Anticipated Due Date</th>
    <th>Required Due Date</th>
  </tr>
  <% @tasks.todo.each do |task| %>
    <tr>
      <td><%= task.project.project_num if task.project %></td>
      <td><%= task.project.name if task.project %></td>
      <td><%= task.project.location if task.project %></td>
      <td><%= task.project.engineer if task.project %></td>
      <td><%= task.project.technician if task.project %></td>
      <td><%= task.project.design_meeting_date if task.project %></td>
      <td><%= task.title %></td>
      <td><%= task.due_date %></td>
      <td><%= task.project.due_date if task.project %></td>
    </tr>
  <% end %>
</table>