<h1>Task List</h1>

<%= form_tag complete_tasks_path, :method => :put do %>
  <div class='sort-control'>
    <span id='sort'>Sort</span>
    <span id='save'>Save</span>
  </div>
  <div id='todo'>
  <% @tasks.todo.each do |task| %>
    <div id='tasks_<%= task.id %>'>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.title %>
    </div>
  <% end %>
  </div>
  <%= submit_tag "Mark as complete" %>
<% end %>

<h2>Add task:</h2>
<%= render 'tasks/form', :task => @user.tasks.build %>

<h2>Completed tasks</h2>
<%= form_tag uncomplete_tasks_path, :method => :put do %>
  <% @tasks.complete.each do |task| %>
    <div>
      <%= check_box_tag "task_ids[]", task.id %>
      <%= task.title %> at <%= task.completed_at %>
    </div>
  <% end %>
  <%= submit_tag "Return to todo list" %>
<% end %>