<h1>New User</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :organization_id %>
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, :label => 'Confirm' %>
  <%= f.button :submit %>
<% end %>
