<h1>Details</h1>
<%= link_to 'Edit this project', edit_project_path(@project) %>
<p>
  <strong>Project Number:</strong>
  <%= @project.project_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<section>
  <h2 class='fieldset'>Project Task List</h2>
  <div class='sort-control'>
    <span id='sort'>Sort</span>
    <span id='save'>Save</span>
  </div>
  <ul class='tasks'>
    <%= nested_tasks @project.tasks.arrange(:order => :project_priority) %>
  </ul>
  <div class='task-form'>
    <h3>Add task to this project:</h3>
    <%= render 'tasks/form', :task => @project.tasks.build %>
  </div>
</section>