<h1>Details</h1>
<%= link_to 'Edit this project', edit_project_path(@project) %>
<p>
  <strong>Project Number:</strong>
  <%= @project.project_num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<section>
  <h1 class='fieldset'>Project Task List</h1>
  <div class='tasks'>
    <%= nested_tasks @project.tasks.arrange(:order => :created_at) %>
  </div>
  <div class='task-form'>
    <h3>Add task to this project:</h3>
    <%= render 'tasks/form', :task => @project.tasks.build %>
  </div>
</section>