<!DOCTYPE html>
<html>
<head>
  <title>Kazi</title>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= stylesheet_link_tag    "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <nav>
    <ul>
      <li><%= navlink "tasks", tasks_path %></li>
      <li><%= navlink "projects", projects_path %></li>
    </ul>
  </nav>
  <div id="content_wrap">
    <div id="user_control">
      <% if current_user %>
        Welcome, <%= current_user.name %>
        <%= link_to "Logout", logout_path %>
      <% end %>
    </div>
    <div id="flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
